In [ ]:
import sys, os
sys.path.append(os.path.abspath(".."))

from scripts.osm_features import extract_features

In [6]:
from scripts.osm_features import extract_features

# Run the feature extraction pipeline
df = extract_features("data/raw/osm_bengaluru.json",
                      "data/processed/bengaluru_segments.csv")

df.head()

âœ… Saved processed CSV: data/processed/bengaluru_segments.csv ((15406, 9))

,id,highway,maxspeed,lit,sidewalk,n_nodes,lat,lon,safety_score
0,4354938,service,None,None,None,7,12.989564,77.635497,50
1,4354952,footway,None,no,None,35,12.982976,77.618213,40
2,8294886,tertiary,None,None,None,5,12.984123,77.578232,55
3,8680571,secondary,None,None,separate,26,12.948910,77.620187,50
4,8681388,primary,None,yes,None,15,12.966133,77.615168,65